@import "mixins";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.flight {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.fwhite {
  color: $white !important;
}
.fblue {
  color: $blue;
}
a {
  @include transition;

  &:hover {
    text-decoration: none;
  }
}

.forange {
  color: $orange;
}

.bluebrdlink {
  background: transparent;
  padding: 7px 25px;
  color: $blue;
  text-transform: uppercase;
  font-size: $fsize + 2;
  border: 1px solid $blue;
  display: inline-block;
  @extend .fsbold;
  border-radius: 25px;

  &:hover {
    background: $blue;
    color: $white;
    border: 1px solid $blue;
  }
}

body {
  @include sitefont;
  background: lighten($blue, 69.5%);
  letter-spacing: 0.2px;
}

.custContainer {
  width: 80%;
  margin: 0 auto;
}

header {
  .bsnav {
    background: none;

    @include mob {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .navbar-brand {
      img {
        width: 150px;
      }
    }

    .midNav {
      .nav-item {
        .nav-link {
          text-transform: uppercase;
          @extend .fsbold;

          &:hover {
            color: $blue;
          }
        }
        .active {
          color: $blue;
          @extend .fbold;
          text-transform: uppercase;
          display: block;
          padding: 20px 15px;

          span {
            border-bottom: 2px solid $blue;
          }
        }
      }
    }
  }

  .socialNav {
    @include mob {
      display: inline-block;
    }
    .nav-item {
      @include mob {
        float: left;
      }
      .nav-link {
        width: 35px;
        height: 35px;
        background: $black;
        border-radius: 50%;
        display: inline-block;
        padding: 0;
        margin: 0 2px;
        text-align: center;
        line-height: 36px;

        @include mob {
          line-height: 27px;
        }

        &:hover {
          background: $orange;

          .icomoon {
            color: $black;
          }
        }
        .icomoon {
          color: $white;
        }
      }
    }
  }
}

.sticked {
  background: $white !important;
  @include shadowbot;
}

.homeSlider {
  background: #e9eeff;
  width: 100%;
  height: 100vh;

  .sliderImg {
    position: relative;
    text-align: center;
    &:before {
      content: "";
      background: url(../img/sliderBg.svg) no-repeat 0 0;
      @include positionall(0, inherit, inherit, 0);
      width: 100%;
      height: 100vh;
      z-index: 0;
    }
    img {
      position: relative;
      z-index: 10;
      height: 97vh;

      @include mob {
        height: 50vh;
      }
    }
  }
  .sliderArticle {
    padding-right: 10%;
    h6 {
      font-size: $fsize + 1;
      color: $blue;
      letter-spacing: 8px;
      text-transform: uppercase;
      @extend .fbold;

      @include mob {
        font-size: $fsize - 1;
        line-height: 28px;
      }
    }
    h1 {
      font-size: $fsize + 10;
      color: $black;
      @extend .fbold;
      line-height: 40px;

      @include mob {
        font-size: $fsize + 1;
        line-height: 28px;
      }
    }
  }
}

.articleSection {
  h3 {
    font-size: clamp(15px, 3vw, 20px);
    color: $blue;
    letter-spacing: 2px;
    @extend .fsbold;
  }
  h2 {
    font-size: clamp(20px, 4vw, 28px);
    @extend .fbold;
    letter-spacing: -1px;
  }
  P {
    font-size: clamp(15px, 2vw, 15px);
    line-height: 28px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: clamp(20px, 3vw, 35px);
    @extend .fbold;
    color: $black;
    letter-spacing: -1px;
  }
  h5 {
    font-size: clamp(15px, 2.5vw, 20px);
    @extend .fbold;
    color: $black;
    letter-spacing: -1px;
    line-height: 30px;
  }
}

.about-intro {
  background: lighten($orange, 40%);
  padding: 100px 0;
  position: relative;

  @include mob {
    padding: 25px 0;
  }
  .transtitle {
    @include positionall(10%, 0, inherit, inherit);
    color: lighten($blue, 50%);

    img {
      width: 80%;
    }
  }
}

//services
.services-home {
  .service-col {
    display: flex;

    div {
      width: 50%;
    }

    .lt-service {
      img {
        object-fit: cover;
        @include transition;

        @include mob {
          min-height: 178px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .rt-service {
      position: relative;
      padding: 20px;
      height: 100%;
      @include verticalcenter;
      @include transition;

      &:before {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
        border-width: 20px;

        @include mob {
          display: none;
        }
      }

      &:hover {
        background: $blue !important;
        color: $white;

        &:before {
          display: none;
        }

        h4 {
          a {
            color: $white;
          }
        }
        .icomoon {
          color: $white;
        }
      }

      h4 {
        font-size: clamp(20px, 3vw, 28px);
        @extend .fsbold;
        padding: 10px 0;

        @include tab {
          font-size: clamp(20px, 3vw, 20px);
        }

        a {
          color: $white;
          @include mob {
            font-size: $fsize - 1;
          }
        }
      }
      P {
        font-size: clamp($fsize, 1vw, $fsize);
        line-height: 28px;
        color: $white;

        @include mob {
          display: none;
        }
        @include tab {
          display: none;
        }
      }
      .icomoon {
        font-size: $fsize * 4;
        color: $white;
      }
    }

    &:nth-child(1) {
      .rt-service {
        background: #014d98;
        &:before {
          border-right-color: #014d98;
          @include positionall(48%, inherit, inherit, -37px);
        }
      }
    }
    &:nth-child(2) {
      .rt-service {
        background: #ff9e1b;
        &:before {
          border-right-color: #ff9e1b;
          @include positionall(48%, inherit, inherit, -37px);
        }
      }
    }
    &:nth-child(3) {
      .rt-service {
        background: #00bcd4;
        &:before {
          border-left-color: #00bcd4;
          @include positionall(48%, -37px, inherit, inherit);
        }
      }
      flex-direction: row-reverse;
    }
    &:nth-child(4) {
      .rt-service {
        background: #009933;
        &:before {
          border-left-color: #009933;
          @include positionall(48%, -37px, inherit, inherit);
        }
      }
      flex-direction: row-reverse;
    }

    &:nth-child(5) {
      .rt-service {
        background: #e7dec8;
        &:before {
          border-right-color: #e7dec8;
          @include positionall(48%, inherit, inherit, -37px);
        }
      }
    }
    &:nth-child(6) {
      .rt-service {
        background: #f4f4f4;
        &:before {
          border-right-color: #f4f4f4;
          @include positionall(48%, inherit, inherit, -37px);
        }
      }
    }
    &:nth-child(7) {
      .rt-service {
        background: #f9fcc4;
        &:before {
          border-left-color: #f9fcc4;
          @include positionall(48%, -37px, inherit, inherit);
        }
      }
      flex-direction: row-reverse;
    }
    &:nth-child(8) {
      .rt-service {
        background: #ddf3f5;
        &:before {
          border-left-color: #ddf3f5;
          @include positionall(48%, -37px, inherit, inherit);
        }
      }
      flex-direction: row-reverse;
    }

    @include mob {
      &:nth-child(2) {
        flex-direction: row-reverse;
      }
      &:nth-child(3) {
        flex-direction: inherit;
      }
      &:nth-child(6) {
        flex-direction: row-reverse;
      }
      &:nth-child(7) {
        flex-direction: inherit;
      }
    }
  }
}

.founderSection {
  padding: 3em 0;

  .picCol {
    text-align: center;
    border-bottom: 3px solid $orange;
    padding-bottom: 15px;
    img {
      margin-bottom: 15px;
      @include transition;
    }

    h5 {
      font-size: $fsize;
      text-transform: uppercase;
      @extend .fbold;
      margin-bottom: 0;
      padding-bottom: 5px;
    }
    p {
      font-size: $fsize - 2;
      color: $blue;
      @extend .fbold;
    }

    &:hover {
      img {
        @include shadowbot;
      }
    }
  }
}

.testimonialsHome {
  background: url(../img/testimonialsbg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 10em 0;
  position: relative;
  color: $white;

  &:before {
    content: "";
    background: $blue;
    @include positionall(0, 0, 0, 0);
    opacity: 0.9;
  }

  .testThumb {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.blogcard {
  @include shadowbot;
  margin-bottom: 25px;

  .card-body {
    h6 {
      min-height: 70px;
      max-height: 70px;
      line-height: 25px;
      padding-top: 10px;

      a {
        color: $black;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.newsBlogs {
  padding: 3em 0;
}

//footer
footer {
  background: $blue url(../img/sliderbg.png) repeat-x 0 0;
  padding: 25px 0;

  .nav-link {
    color: $white;
    padding: 0;
    margin: 0 10px;
    font-size: $fsize;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
  .footer-social {
    margin: 25px 0;
    a {
      width: 42px;
      height: 42px;
      background: $white;
      border-radius: 50%;
      display: inline-block;
      line-height: 48px;
      text-align: center;
      @include transition;
      border: 1px solid transparent;

      &:hover {
        background: $blue;
        border: 1px solid $white;

        .icomoon {
          color: $white;
        }
      }

      .icomoon {
        font-size: $fsize + 5;
        color: $black;
      }
    }
  }
  p {
    color: $white;
  }

  .moveTop {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    @include transition;
    display: none;
    background: $blue;

    &:hover {
      border-radius: 50%;
    }
    .icomoon {
      color: $white;
    }
  }
}

.pageHeader {
  background: url(../img/about-headerbg.jpg) no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  @include verticalcenter;

  &:before {
    content: "";
    background: lighten($orange, 25%);
    // background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    @include positionall(0, 0, 0, 0);
    opacity: 0.9;
  }
  .articleSection {
    position: relative;
    z-index: 10;
    text-align: center;
    color: $white;
    padding-top: 30px;

    h2 {
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    @include mob {
      padding-top: 60px;
      padding-bottom: 20px;
    }
  }
}

.pageHeaderSub {
  @extend .pageHeader;
  min-height: 400px;

  @include mob {
    min-height: 210px;
    padding-top: 50px;
  }
}

.subpageBody {
  padding: 50px 0;

  p {
    margin-bottom: 0;
  }
}

//sub page styles
.subpageMain {
  min-height: 800px;

  .about-header {
    @extend .pageHeader;
    min-height: 230px;

    @include mob {
      min-height: 200px;
    }
  }
}

.subpageContent {
  padding: 2em 0;
  p {
    text-align: justify;
    padding-bottom: 1.5em;
  }
}

//custom tab
.customTab {
  span {
    font-size: $fsize;
  }
  .resp-tab-content {
    min-height: 600px;
  }
  .resp-tabs-list {
    margin-top: 0 !important;
    li {
      background: lighten($black, 60%);
    }
  }
  .resp-tabs-container {
    border-radius: 0;
  }

  @include mob {
    h2.resp-accordion {
      padding: 20px 15px;
    }
    h2.resp-tab-active {
      padding: 20px 15px !important;
      background: $blue !important;
      color: $white;
    }
  }
}

.spectab {
  overflow: hidden;

  .programImg {
    width: 400px;
    margin: 0 auto;
  }
}

.foundertitle {
  small {
    font-size: $fsize - 3;
  }
}

.thTable {
  background: lighten($black, 25%);
  width: 10%;
  color: $white;
}

.curriTable {
  tr {
    td:nth-child(1) {
      width: 10%;
      @extend .fbold;
    }
    td:nth-child(2) {
      width: 20%;
    }
    td:nth-child(3) {
      width: 70%;
    }
  }
}

.form {
  label {
    font-size: $fsize - 2;
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 0;
    min-height: 45px;
    font-size: $fsize - 1;
  }
  input.form-control {
    height: 45px;
  }
}

.rtContact {
  background: $blue;
  min-height: 500px;
  padding: 30px;

  .table {
    color: $white;
  }

  @include mob {
    margin-top: 15px;
    min-height: auto;
  }
  @include tab {
    margin-top: 15px;
    min-height: auto;
  }
}
