@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fsbold, .bluebrdlink, header .bsnav .midNav .nav-item .nav-link, .articleSection h3, .services-home .service-col .rt-service h4 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.fbold, header .bsnav .midNav .nav-item .active, .homeSlider .sliderArticle h6, .homeSlider .sliderArticle h1, .articleSection h2, .articleSection h4, .articleSection h5, .founderSection .picCol h5, .founderSection .picCol p, .curriTable tr td:nth-child(1) {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.flight {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.fwhite {
  color: #fff !important;
}

.fblue {
  color: #001e92;
}

a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
}

.forange {
  color: #fcbf1e;
}

.bluebrdlink {
  background: transparent;
  padding: 7px 25px;
  color: #001e92;
  text-transform: uppercase;
  font-size: 17px;
  border: 1px solid #001e92;
  display: inline-block;
  border-radius: 25px;
}

.bluebrdlink:hover {
  background: #001e92;
  color: #fff;
  border: 1px solid #001e92;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  background: #f5f7ff;
  letter-spacing: 0.2px;
}

.custContainer {
  width: 80%;
  margin: 0 auto;
}

header .bsnav {
  background: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .bsnav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

header .bsnav .navbar-brand img {
  width: 150px;
}

header .bsnav .midNav .nav-item .nav-link {
  text-transform: uppercase;
}

header .bsnav .midNav .nav-item .nav-link:hover {
  color: #001e92;
}

header .bsnav .midNav .nav-item .active {
  color: #001e92;
  text-transform: uppercase;
  display: block;
  padding: 20px 15px;
}

header .bsnav .midNav .nav-item .active span {
  border-bottom: 2px solid #001e92;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .socialNav {
    display: inline-block;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .socialNav .nav-item {
    float: left;
  }
}

header .socialNav .nav-item .nav-link {
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  margin: 0 2px;
  text-align: center;
  line-height: 36px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .socialNav .nav-item .nav-link {
    line-height: 27px;
  }
}

header .socialNav .nav-item .nav-link:hover {
  background: #fcbf1e;
}

header .socialNav .nav-item .nav-link:hover .icomoon {
  color: #000;
}

header .socialNav .nav-item .nav-link .icomoon {
  color: #fff;
}

.sticked {
  background: #fff !important;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.homeSlider {
  background: #e9eeff;
  width: 100%;
  height: 100vh;
}

.homeSlider .sliderImg {
  position: relative;
  text-align: center;
}

.homeSlider .sliderImg:before {
  content: "";
  background: url(../img/sliderBg.svg) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.homeSlider .sliderImg img {
  position: relative;
  z-index: 10;
  height: 97vh;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider .sliderImg img {
    height: 50vh;
  }
}

.homeSlider .sliderArticle {
  padding-right: 10%;
}

.homeSlider .sliderArticle h6 {
  font-size: 16px;
  color: #001e92;
  letter-spacing: 8px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider .sliderArticle h6 {
    font-size: 14px;
    line-height: 28px;
  }
}

.homeSlider .sliderArticle h1 {
  font-size: 25px;
  color: #000;
  line-height: 40px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homeSlider .sliderArticle h1 {
    font-size: 16px;
    line-height: 28px;
  }
}

.articleSection h3 {
  font-size: clamp(15px, 3vw, 20px);
  color: #001e92;
  letter-spacing: 2px;
}

.articleSection h2 {
  font-size: clamp(20px, 4vw, 28px);
  letter-spacing: -1px;
}

.articleSection P {
  font-size: clamp(15px, 2vw, 15px);
  line-height: 28px;
  margin-bottom: 20px;
}

.articleSection h4 {
  font-size: clamp(20px, 3vw, 35px);
  color: #000;
  letter-spacing: -1px;
}

.articleSection h5 {
  font-size: clamp(15px, 2.5vw, 20px);
  color: #000;
  letter-spacing: -1px;
  line-height: 30px;
}

.about-intro {
  background: #fff8e7;
  padding: 100px 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .about-intro {
    padding: 25px 0;
  }
}

.about-intro .transtitle {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: inherit;
  left: inherit;
  color: #92a8ff;
}

.about-intro .transtitle img {
  width: 80%;
}

.services-home .service-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-home .service-col div {
  width: 50%;
}

.services-home .service-col .lt-service img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services-home .service-col .lt-service img {
    min-height: 178px;
  }
}

.services-home .service-col .lt-service img:hover {
  opacity: 0.7;
}

.services-home .service-col .rt-service {
  position: relative;
  padding: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.services-home .service-col .rt-service:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-width: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services-home .service-col .rt-service:before {
    display: none;
  }
}

.services-home .service-col .rt-service:hover {
  background: #001e92 !important;
  color: #fff;
}

.services-home .service-col .rt-service:hover:before {
  display: none;
}

.services-home .service-col .rt-service:hover h4 a {
  color: #fff;
}

.services-home .service-col .rt-service:hover .icomoon {
  color: #fff;
}

.services-home .service-col .rt-service h4 {
  font-size: clamp(20px, 3vw, 28px);
  padding: 10px 0;
}

@media (min-width: 768px) and (max-width: 990px) {
  .services-home .service-col .rt-service h4 {
    font-size: clamp(20px, 3vw, 20px);
  }
}

.services-home .service-col .rt-service h4 a {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services-home .service-col .rt-service h4 a {
    font-size: 14px;
  }
}

.services-home .service-col .rt-service P {
  font-size: clamp(15px, 1vw, 15px);
  line-height: 28px;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services-home .service-col .rt-service P {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .services-home .service-col .rt-service P {
    display: none;
  }
}

.services-home .service-col .rt-service .icomoon {
  font-size: 60px;
  color: #fff;
}

.services-home .service-col:nth-child(1) .rt-service {
  background: #014d98;
}

.services-home .service-col:nth-child(1) .rt-service:before {
  border-right-color: #014d98;
  position: absolute;
  top: 48%;
  right: inherit;
  bottom: inherit;
  left: -37px;
}

.services-home .service-col:nth-child(2) .rt-service {
  background: #ff9e1b;
}

.services-home .service-col:nth-child(2) .rt-service:before {
  border-right-color: #ff9e1b;
  position: absolute;
  top: 48%;
  right: inherit;
  bottom: inherit;
  left: -37px;
}

.services-home .service-col:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-home .service-col:nth-child(3) .rt-service {
  background: #00bcd4;
}

.services-home .service-col:nth-child(3) .rt-service:before {
  border-left-color: #00bcd4;
  position: absolute;
  top: 48%;
  right: -37px;
  bottom: inherit;
  left: inherit;
}

.services-home .service-col:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-home .service-col:nth-child(4) .rt-service {
  background: #009933;
}

.services-home .service-col:nth-child(4) .rt-service:before {
  border-left-color: #009933;
  position: absolute;
  top: 48%;
  right: -37px;
  bottom: inherit;
  left: inherit;
}

.services-home .service-col:nth-child(5) .rt-service {
  background: #e7dec8;
}

.services-home .service-col:nth-child(5) .rt-service:before {
  border-right-color: #e7dec8;
  position: absolute;
  top: 48%;
  right: inherit;
  bottom: inherit;
  left: -37px;
}

.services-home .service-col:nth-child(6) .rt-service {
  background: #f4f4f4;
}

.services-home .service-col:nth-child(6) .rt-service:before {
  border-right-color: #f4f4f4;
  position: absolute;
  top: 48%;
  right: inherit;
  bottom: inherit;
  left: -37px;
}

.services-home .service-col:nth-child(7) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-home .service-col:nth-child(7) .rt-service {
  background: #f9fcc4;
}

.services-home .service-col:nth-child(7) .rt-service:before {
  border-left-color: #f9fcc4;
  position: absolute;
  top: 48%;
  right: -37px;
  bottom: inherit;
  left: inherit;
}

.services-home .service-col:nth-child(8) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services-home .service-col:nth-child(8) .rt-service {
  background: #ddf3f5;
}

.services-home .service-col:nth-child(8) .rt-service:before {
  border-left-color: #ddf3f5;
  position: absolute;
  top: 48%;
  right: -37px;
  bottom: inherit;
  left: inherit;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services-home .service-col:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .services-home .service-col:nth-child(3) {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .services-home .service-col:nth-child(6) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .services-home .service-col:nth-child(7) {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
}

.founderSection {
  padding: 3em 0;
}

.founderSection .picCol {
  text-align: center;
  border-bottom: 3px solid #fcbf1e;
  padding-bottom: 15px;
}

.founderSection .picCol img {
  margin-bottom: 15px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.founderSection .picCol h5 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.founderSection .picCol p {
  font-size: 13px;
  color: #001e92;
}

.founderSection .picCol:hover img {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.testimonialsHome {
  background: url(../img/testimonialsbg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 10em 0;
  position: relative;
  color: #fff;
}

.testimonialsHome:before {
  content: "";
  background: #001e92;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.testimonialsHome .testThumb {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.blogcard {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  margin-bottom: 25px;
}

.blogcard .card-body h6 {
  min-height: 70px;
  max-height: 70px;
  line-height: 25px;
  padding-top: 10px;
}

.blogcard .card-body h6 a {
  color: #000;
}

.blogcard .card-body h6 a:hover {
  color: #001e92;
}

.newsBlogs {
  padding: 3em 0;
}

footer {
  background: #001e92 url(../img/sliderbg.png) repeat-x 0 0;
  padding: 25px 0;
}

footer .nav-link {
  color: #fff;
  padding: 0;
  margin: 0 10px;
  font-size: 15px;
}

footer .nav-link:hover {
  border-bottom: 1px solid #fff;
}

footer .footer-social {
  margin: 25px 0;
}

footer .footer-social a {
  width: 42px;
  height: 42px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 48px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid transparent;
}

footer .footer-social a:hover {
  background: #001e92;
  border: 1px solid #fff;
}

footer .footer-social a:hover .icomoon {
  color: #fff;
}

footer .footer-social a .icomoon {
  font-size: 20px;
  color: #000;
}

footer p {
  color: #fff;
}

footer .moveTop {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: none;
  background: #001e92;
}

footer .moveTop:hover {
  border-radius: 50%;
}

footer .moveTop .icomoon {
  color: #fff;
}

.pageHeader, .pageHeaderSub, .subpageMain .about-header {
  background: url(../img/about-headerbg.jpg) no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pageHeader:before, .pageHeaderSub:before, .subpageMain .about-header:before {
  content: "";
  background: #fee39c;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
}

.pageHeader .articleSection, .pageHeaderSub .articleSection, .subpageMain .about-header .articleSection {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.pageHeader .articleSection h2, .pageHeaderSub .articleSection h2, .subpageMain .about-header .articleSection h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .pageHeader .articleSection, .pageHeaderSub .articleSection, .subpageMain .about-header .articleSection {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.pageHeaderSub {
  min-height: 400px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .pageHeaderSub {
    min-height: 210px;
    padding-top: 50px;
  }
}

.subpageBody {
  padding: 50px 0;
}

.subpageBody p {
  margin-bottom: 0;
}

.subpageMain {
  min-height: 800px;
}

.subpageMain .about-header {
  min-height: 230px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subpageMain .about-header {
    min-height: 200px;
  }
}

.subpageContent {
  padding: 2em 0;
}

.subpageContent p {
  text-align: justify;
  padding-bottom: 1.5em;
}

.customTab span {
  font-size: 15px;
}

.customTab .resp-tab-content {
  min-height: 600px;
}

.customTab .resp-tabs-list {
  margin-top: 0 !important;
}

.customTab .resp-tabs-list li {
  background: #999999;
}

.customTab .resp-tabs-container {
  border-radius: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .customTab h2.resp-accordion {
    padding: 20px 15px;
  }
  .customTab h2.resp-tab-active {
    padding: 20px 15px !important;
    background: #001e92 !important;
    color: #fff;
  }
}

.spectab {
  overflow: hidden;
}

.spectab .programImg {
  width: 400px;
  margin: 0 auto;
}

.foundertitle small {
  font-size: 12px;
}

.thTable {
  background: #404040;
  width: 10%;
  color: #fff;
}

.curriTable tr td:nth-child(1) {
  width: 10%;
}

.curriTable tr td:nth-child(2) {
  width: 20%;
}

.curriTable tr td:nth-child(3) {
  width: 70%;
}

.form label {
  font-size: 13px;
  margin-bottom: 0;
}

.form .form-control {
  border-radius: 0;
  min-height: 45px;
  font-size: 14px;
}

.form input.form-control {
  height: 45px;
}

.rtContact {
  background: #001e92;
  min-height: 500px;
  padding: 30px;
}

.rtContact .table {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rtContact {
    margin-top: 15px;
    min-height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .rtContact {
    margin-top: 15px;
    min-height: auto;
  }
}
/*# sourceMappingURL=style.css.map */